<div id="<%= dom_id user_vote %>">
  <p>
    <strong>User:</strong>
    <%= user_vote.user_id %>
  </p>

  <p>
    <strong>Bill:</strong>
    <%= user_vote.bill_id %>
  </p>

  <p>
    <strong>Support:</strong>
    <%= user_vote.support %>
  </p>

</div>
