<p style="color: green"><%= notice %></p>

<h1>User votes</h1>

<div id="user_votes">
  <% @user_votes.each do |user_vote| %>
    <%= render user_vote %>
    <p>
      <%= link_to "Show this user vote", user_vote %>
    </p>
  <% end %>
</div>

<%= link_to "New user vote", new_user_vote_path %>
