keys/*
.github/*
.vscode/*
.firebase/*
.git/*
emulate_data/*
firebase-export-*/*

**/**/build/*
**/**/public/*
**/**/node_modules/*

**/**/assets/*
**/**/serviceWorker.ts

*.js
*.json
*.png
*.svg
*.css
*.scss
*.log
*.txt
*.sh
*.md
*.development
*.production
*.html
*.map
*.d.ts
*.ico
*.geojson
*.rules
LICENSE
*LICENSE

**/**/cypress/*
