.certs/
.firebase/
**/**/node_modules/
**/**/*.log
**/**/*.tgz
**/**/*.nvmrc

# creds/firebase
sway.json
**/**/.env
**/**/.env.development
**/**/.env.production
**/**/.env.test

# keys
keys/

# local asset backup for files on firebase storage
assets/

# persisted emulation data
emulate_data/

# TODO: Remove this ignore
docs/

##########################################
# functions
##########################################

functions/twitter_test.js

## rsynced into directory before deploy
functions/constants/
functions/fire/
functions/fixtures/
functions/types/
functions/utils/

## artifacts
functions/lib/
functions/src/geojson/*
functions/.runtimeconfig.json
functions/.runtimeconfig.sway.json
**/**/dist

##########################################
# webapp
##########################################

## images
packages/webapp/public/baltimore-maryland-united_states/
packages/webapp/public/sway/

## cypress
packages/webapp/cypress/videos/
packages/webapp/cypress/screenshots/

## eslint
packages/webapp/.eslintcache

##########################################
# constants
##########################################

packages/constants/dist/
packages/constants/_locales.json

##########################################
# seeds
##########################################

packages/seeds/dist/
packages/seeds/src/data/united_states/congress/test_propublica.js
packages/seeds/sheets_token.json
packages/seeds/**/*.js

firebase-export-*

!**/**/.gitkeep

# Added by cargo

/target
