rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	match /admins/{userId} {
    	allow read: if request.auth != null && request.auth.uid == userId;
    }
  	match /locales/{document=**} {
      allow read;
    }
    match /bills/{document=**} {
      allow read: if request.auth != null;
    }
    match /bill_scores/{locale}/bill_scores/{document=**} {
      allow read: if request.auth != null;
    }
    match /legislators/{document=**} {
      allow read: if request.auth != null;
    }
    match /legislator_votes/{locale}/{collection}/{document=**} {
      allow read: if request.auth != null;
    }
    match /organizations/{locale}/organizations/{document=**} {
    	allow read: if request.auth != null;
      // https://firebase.google.com/docs/rules/basics#data-defined_attributes_and_roles
      allow write: if get(/databases/$(database)/documents/admins/$(request.auth.uid)).data.isAdmin == true;
    }
    match /users/{userId} {
    	// https://firebase.google.com/docs/rules/basics#mixed_public_and_private_access
    	allow get, write: if request.auth != null && request.auth.uid == userId;
    }
    match /user_bill_shares/{locale} {
    	match /total/{document=**} {
      	allow read: if request.auth != null;
      }
    	match /{userId}/{document=**} {
				allow read, write: if request.auth != null && request.auth.uid == userId;      
      }
    }
    match /user_settings/{userId} {
    	allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    match /user_invites/{userId} {
    	allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    match /user_votes/{locale}/{userId}/{document=**} {
    	allow read: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null && request.auth.uid == userId && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isEmailVerified == true;
    }
    match /user_legislator_scores/{locale} {
    	match /{legislator}/{userId} {
    		allow get, create, update: if request.auth != null && request.auth.uid == userId;
    	}
      match /district/{document=**} {
    		allow read: if request.auth != null;
    	}
    }
    match /user_legislator_votes/{locale}/{userId}/{document=**} {
    	allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    match /sway_version/current/{document=**} {
    	allow read;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}