<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing bill score district</h1>

  <%= render "form", bill_score_district: @bill_score_district %>

  <%= link_to "Show this bill score district", @bill_score_district, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to bill score districts", bill_score_districts_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
