<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New user legislator score</h1>

  <%= render "form", user_legislator_score: @user_legislator_score %>

  <%= link_to "Back to user legislator scores", user_legislator_scores_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
