<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing user district</h1>

  <%= render "form", user_district: @user_district %>

  <%= link_to "Show this user district", @user_district, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to user districts", user_districts_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
