/** @format */

@import "./_constants.scss";

$white: map-get($theme-colors, "white");
$success: map-get($theme-colors, "success");
$primary: map-get($theme-colors, "primary");
$secondary: map-get($theme-colors, "secondary");
$tertiary: map-get($theme-colors, "tertiary");

// BillsListHeader.tsx
table.bills-list-header-table {
    width: 95%;
    margin: 0 auto;
    text-align: center;

    td.bills-list-header-td {
        border: 1px solid $primary;
        margin: 0;

        button.bills-list-header-td-button {
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            font-weight: bold;
            background-color: transparent;
            color: $primary;
        }

        button.bills-list-header-td-button.selected-category {
            background-color: swayDarkBlue;
            color: $white;
            border-radius: 0;
        }
    }
}

div.bill-of-the-week-locale-selector-container {
    background-color: $primary;
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.bill-container {
    display: flex;
    flex-direction: column;
    padding: 10px;

    .bill-arguments-text-container-title {
        font-weight: bold;
    }

    div.bill-arguments-container {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;

        div.bill-arguments-sub-container {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            div.bill-arguments-text-container {
                display: flex;
                flex-direction: column;
                align-items: center;

                // https://css-tricks.com/line-clampin/#weird-webkit-flexbox-way
                .bill-arguments-text {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;
                    max-width: 50ch;
                }

                .bill-arguments-org-icon-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
            }
        }
    }

    div.text-container {
        display: flex;
        flex-direction: column;
        margin: 10px;

        div.text-sub-container {
            display: inline;
            margin: 10px;
        }
    }
    div.text-container.expired-text {
        color: $tertiary;
        text-align: center;
    }
}

div.confirmation-dialog.vote-confirmation-dialog {
    button {
        span {
            font-weight: bold;
        }
        span:first-child {
            border-bottom: 2px solid transparent;
        }
        border: none;
    }
    button.confirmation-dialog-button-falsey:hover {
        background-color: transparent;
        span:first-child {
            border-bottom: 2px solid $tertiary;
        }
    }
    button.confirmation-dialog-button-truthy:hover {
        background-color: transparent;
        span:first-child {
            border-bottom: 2px solid $primary;
        }
    }
}

div.bill-list-item {
    div.row {
        display: flex;
        flex-direction: row;
    }

    div.column {
        flex-direction: column;
        padding: 10px;
        width: 45%;
        margin: 0 auto;
    }

    div.bill-list-item-expired-text {
        padding-top: 20px;
        color: $tertiary;
    }
}

div.vote-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    div.vote-buttons {
        width: 100%;
        margin: 0 auto;
        text-align: center;

        button {
            width: 40%;
            padding: 1em;
            margin: 1em;
        }

        button.disabled {
            border: 2px solid $secondary;
        }
        button.for.selected {
            color: $white;
            background-color: $success;
        }
        button.for.not-selected {
            color: $success;
            border: 2px solid $success;
        }
        button.for.not-selected:hover {
            color: $white;
            background-color: $success;
        }
        button.against.selected {
            color: $white;
            background-color: $tertiary;
        }
        button.against.not-selected {
            color: $tertiary;
            border: 2px solid $tertiary;
        }
        button.against.not-selected:hover {
            color: $white;
            background-color: $tertiary;
        }
    }
}

div.charts-container.bill-charts-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 20px auto;

    div.bill-charts-selector {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        div.bill-charts-selector-child {
            text-align: center;
            border: 2px solid transparent;
            border-radius: 5px;
            padding: 10px;
        }
    }
}

@media (max-width: 768px) {
    div.charts-container.bill-charts-container {
        flex-direction: column;

        div.bill-charts-selector {
            justify-content: center;
        }
    }
}

@media (max-width: 415px) {
    div.bill-container {
        padding: 0;
        margin: 0;

        div.bill-arguments-container {
            display: block;

            div.bill-arguments-sub-container {
                flex-direction: column;

                div.bill-arguments-text-container {
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }
        }
    }

    div.bill-list-item {
        div.column {
            width: 100%;
        }
    }
}
