/** @format */

@import "./_constants.scss";

$white: map-get($theme-colors, "white");
$primary: map-get($theme-colors, "primary");
$secondaryDark: map-get($theme-colors, "secondaryDark");

div.legislators-list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

    button.button {
        width: 50%;
        cursor: pointer;
        padding: 10px;
        border-radius: 0;
    }

    button.button.selected {
        background-color: $primary;

        .MuiButton-label {
            color: $white;
            font-weight: bold;
        }
    }

    button.button.not-selected {
        background-color: transparent;

        .MuiButton-label {
            color: $secondaryDark;
            font-weight: bold;
        }
    }
}

div.legislators-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    p.no-legislators-message {
        margin: 3em 0em;
        font-weight: bold;
    }

    div.legislator-card {
        width: 90%;
        margin: 1em;

        div.legislator-card-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 10px;

            h2.legislator-card-header {
                text-align: center;
            }

            div.legislator-card-card-header {
                width: 100%;
                padding: 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
            }

            div.legislator-card-content {
                display: flex;
                flex-direction: row;
                margin: 0 auto;
                padding: 0;

                div.charts-container.legislator-card-charts-container {
                    display: flex;
                    flex-wrap: nowrap;
                    margin: 20px auto;

                    div.legislator-card-charts-selector {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        align-items: center;
                    }

                    div.legislator-card-charts-container-div {
                        min-width: 400px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    div.legislators-list {
        div.legislator-card {
            div.legislator-card-container {
                div.legislator-card-content {
                    flex-direction: column;

                    div.legislator-card-charts-container {
                        flex-direction: column;
                    }
                }
                div.legislator-card-card-header {
                    div.legislator-card-sub-card-header:first-child {
                        flex-wrap: nowrap;
                    }
                    div.legislator-card-sub-card-header:nth-child(2) {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: 415px) {
    div.legislators-list {
        align-items: center;

        div.legislator-card {
            div.legislator-card-container {
                div.legislator-card-card-header {
                    flex-direction: column;
                    align-items: center;
                    width: 300px;

                    div.legislator-card-sub-card-header {
                        width: 100%;
                        flex-wrap: nowrap;
                        margin-top: 5px;
                        margin-bottom: 5px;

                        div.legislator-card-row-break {
                            flex-basis: 0;
                        }

                        p {
                            font-size: 0.9em;
                        }

                        img.legislator-card-copy-icon {
                            max-height: 1em;
                        }
                    }
                }
                div.legislator-card-content {
                    div.charts-container.legislator-card-charts-container {
                        div.legislator-card-charts-selector {
                            justify-content: center;
                        }

                        div.legislator-card-charts-container-div {
                            min-width: 325px;
                            width: 325px;
                        }
                    }
                }
            }
        }
    }
}
