/** @format */

@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "./_constants.scss";

@import "~bootstrap/scss/bootstrap";

$primary: map-get($sway-theme-colors, "primary");
$tertiary: map-get($sway-theme-colors, "tertiary");

html,
body {
    overflow-x: hidden;
}

body {
    font-family: "Exo 2", sans-serif !important;
}

.titlebar {
    height: 30px;
    background: transparent;
    user-select: none;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10 !important;
    cursor: grab !important;

    &:active {
        cursor: grabbing !important;
    }
}

.brighter-item-hover {
    cursor: pointer;
    border-bottom: 2px solid transparent;
}

.brighter-item-hover:hover {
    border-bottom: 2px solid $primary;
    filter: brightness(1.5);
}

.support-fab {
    color: white;
    position: fixed !important;
    right: 30px;
    bottom: 30px;
}

.support-fab-container {
    bottom: 10%;
    position: fixed;
    right: 30px;
    text-align: right;
    z-index: 100;
}

.pulse-background {
    animation: pulseBackground 3s infinite;
}

.pulse-text {
    animation: pulseText 3s infinite;
}

div.invite-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.invite-email {
    width: 99%;
    margin: 10px auto;
    color: black;

    &:not(:focus) {
        border: 1px solid $primary;
        border-radius: 5px;
    }
}

div.inline {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
}

.bold {
    font-weight: 600 !important;
}
.bolder {
    font-weight: 900 !important;
}

.pointer,
.link {
    cursor: pointer !important;
}

.link,
.blue {
    color: $primary !important;
}

.link {
    text-decoration: underline !important;
}

.white {
    color: map-get($sway-theme-colors, "white") !important;
}

.border-primary {
    border-color: $primary !important;
}

.sway-bubble {
    z-index: 0 !important;
}

.ellipses {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
}

// https://stackoverflow.com/questions/69639680/remove-dropdown-arrow-in-react-bootstrap
.no-arrow-dropdown::after {
    display: none !important;
}

button.hide-focus-outline:focus {
    box-shadow: none !important;
}

/**
*
*
* BillOfTheWeekCreator
*
*
*/

// Styling a file input placeholder
// https://stackoverflow.com/a/70524347/6410635
.custom-file-button input[type="file"] {
    margin-left: -2px !important;
}

.custom-file-button input[type="file"]::-webkit-file-upload-button {
    display: none;
}

.custom-file-button input[type="file"]::file-selector-button {
    display: none;
}

.custom-file-button label {
    background-color: #ffffff;
    cursor: pointer;
}
.custom-file-button:hover label {
    background-color: #dde0e3;
}

@keyframes pulseBackground {
    0% {
        color: $primary;
    }
    50% {
        background-color: $tertiary;
    }
    100% {
        background-color: $primary;
    }
}

@keyframes pulseText {
    0% {
        color: $primary;
    }
    50% {
        color: $tertiary;
    }
    100% {
        color: $primary;
    }
}

@media (max-width: 768px) {
    .support-fab {
        right: 20px;
        bottom: 20px;
    }
}
@media (max-width: 415px) {
    .support-fab {
        right: 10px;
        bottom: 10px;
    }
}
