/** @format */
@import url("https://fonts.googleapis.com/css2?family=Exo&display=swap");

@import "~bootstrap/scss/bootstrap";

@import "./_constants.scss";

$primary: map-get($theme-colors, "primary");
$tertiary: map-get($theme-colors, "tertiary");


body {
    font-family: "Exo", sans-serif !important;
}

.brighter-item-hover {
    cursor: pointer;
    border-bottom: 2px solid transparent;
}

.brighter-item-hover:hover {
    border-bottom: 2px solid $primary;
    filter: brightness(1.5);
}

.support-fab {
    color: white;
    position: fixed !important;
    right: 30px;
    bottom: 30px;
}

.support-fab-container {
    bottom: 10%;
    position: fixed;
    right: 30px;
    text-align: right;
    z-index: 100;
}

.pulse-background {
    animation: pulseBackground 3s infinite;
}

.pulse-text {
    animation: pulseText 3s infinite;
}

div.invite-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.invite-email {
    width: 99%;
    margin: 10px auto;
    color: black;

    &:not(:focus) {
        border: 1px solid $primary;
        border-radius: 5px;
    }
}

div.inline {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
}

.bold {
    font-weight: 700 !important;
}
.bolder {
    font-weight: 900 !important;
}

.pointer,
.link {
    cursor: pointer !important;
}

.link,
.blue {
    color: $primary !important;
}

.link {
    text-decoration: underline !important;
}

.border-primary {
    border-color: $primary !important;
}

.ellipses {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
}

// https://stackoverflow.com/questions/69639680/remove-dropdown-arrow-in-react-bootstrap
.no-arrow-dropdown::after {
    display: none !important;
}

button.hide-focus-outline:focus {
    box-shadow: none !important;
}

@keyframes pulseBackground {
    0% {
        color: $primary;
    }
    50% {
        background-color: $tertiary;
    }
    100% {
        background-color: $primary;
    }
}

@keyframes pulseText {
    0% {
        color: $primary;
    }
    50% {
        color: $tertiary;
    }
    100% {
        color: $primary;
    }
}

@media (max-width: 768px) {
    .support-fab {
        right: 20px;
        bottom: 20px;
    }
}
@media (max-width: 415px) {
    .support-fab {
        right: 10px;
        bottom: 10px;
    }
}
