@import "./_constants.scss";

$primary: map-get($sway-theme-colors, "primary");
$tertiaryLighter: map-get($sway-theme-colors, "tertiaryLighter");
$white: map-get($sway-theme-colors, "white");

div.registration {
    background: $primary;
    background: linear-gradient(
        to bottom right,
        $primary 0%,
        $tertiaryLighter 100%
    );

    color: $white;
    font-weight: 400;

    // min-height: 100vh;
}