/*Change icons size here*/
.social-icons .fa {
    font-size: 1.8em;
    cursor: pointer;
    z-index: 100 !important;
}
/*Change icons circle size and color here*/
.social-icons .fa {
    width: 65px;
    height: 65px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.social-icons.icon-circle .fa {
    border-radius: 50%;
}
.social-icons.icon-rounded .fa {
    border-radius: 5px;
}
.social-icons.icon-flat .fa {
    border-radius: 0;
}

.social-icons.icon-zoom .fa:hover,
.social-icons.icon-zoom .fa:active {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
}

.social-icons .fa-apple {
    z-index: 100 !important;
    background-color: #aeb5c5;
}
.social-icons .fa-google {
    z-index: 100 !important;
    background-color: #cf3d2e;
}
.social-icons .fa-twitter {
    z-index: 100 !important;
    background-color: #32ccfe;
}
