<div style="padding-left: 50px; padding-right: 50px;">
  <p><%= intro %></p>
  <p><%= body %><%= link_to(bill_link, bill_link, target: "_blank", referrer: "noopener noreferrer") %>.</p>
  <p><%= conclusion %></p>
  <div style="margin-top: 50px; max-width: 200px; margin: 0px auto; text-align: center;">
    <img src="https://sway.vote/images/banner-1200.png" alt="Sway" style="width: 100%;" />
  </div>
</div>
